body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #778899;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
 padding:100px 80 px;
}
 
.copy-container h1 {
  font-size: 120px;
}

.copy-container h2 {
  font-size: 50px;
}

/* Gantikan color tags <span> didalam copy-container */
.copy-container span {
  color: #ff4a4a;
}
.contents{
  height:500px;
  .section-title{
    border-bottom: 2px solid #708090;
  }
.footer {
  
  background-color: #A52A2A;
  
  color: #FFFFFF;
 
  height: 120px;
  
  
  padding: 40px;
  
}

.footer-logo {
  font-size: 32px;
  float: left;
}


.footer-list {
  float: right;
}


.footer-list li {
  padding-bottom: 20px;
}
