body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.google.com/search?q=gambar+background+lucu+dan+imut&oq=gambar+background+lucu&gs_lcrp=EgZjaHJvbWUqBwgBEAAYgAQyBggAEEUYOTIHCAEQABiABDIICAIQABgWGB4yCAgDEAAYFhgeMggIBBAAGBYYHjIICAUQABgWGB4yCAgGEAAYFhgeMggIBxAAGBYYHjIICAgQABgWGB4yCAgJEAAYFhge0gEJMTIwODZqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#vhid=2xTRx7jLRqP1uM&vssid=l.jpg'); /* Ganti dengan URL gambar latar belakang Anda */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.buku {
    background-color: rgba(255, 255, 255, 0.9); /* Latar belakang semi-transparan */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.buku img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.2em;
}

p {
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
